/* RESET CSS */

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.btn-primary {
  border-radius: 30px;
  background: #e81e30;
  border-color: #e81e30;
}

.btn-primary:hover {
  background: #bd0716;
  border-color: #bd0716;
}

input:focus-visible {
  border: none;
  outline: none;
}

section {
  padding: 3em;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}

/* CODE FOR WEB */

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.nav-bar {
  padding: 2em 0;
}

.nav-bar .box-left {
  display: inline-block;
}

.header-img {
  width: 100%;
  max-width: 350px;
  object-position: center;
}

.search-job {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.12);
  padding: 5px 5px 5px 10px;
  width: max-content;
  border-radius: 30px;
}

.search-job input {
  background: transparent;
  border: none;
  padding-left: 0.5em;
  color: #fff;
}

.search-job input::placeholder,
.search-job .bi {
  color: #afafaf;
}

.search-job .btn {
  padding: 0.5em 2.5em;
}

.search-job .border-left::before {
  position: relative;
  height: 50%;
  content: "";
  border-left: 1px solid #757575;
  padding-left: 1em;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.item-category {
  width: 160px;
  display: -moz-box;
  display: flex;
  max-height: 53px;
  border-radius: 30px;
  padding: 5px;
  background-color: #ddd;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}

.item-category .item-icon {
  display: -moz-box;
  display: flex;
  justify-self: end;
  align-self: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  -moz-box-pack: center;
  justify-content: center;
  line-height: 45px;
  margin-right: 10px;
  font-size: 23px;
  color: #e81e30;
}

.joblist--item {
  background: #f5f4f9;
  padding: 1rem;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 5px;
}

.jobList__header {
  margin-bottom: 8px;
}

.joblist--item .company-name > img {
  border-radius: 50%;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.joblist--item .desc {
  display: none;
}

.joblist--item.active .desc {
  display: block;
}

.joblist--item .footer,
.joblist--item .footer-icon {
  display: -moz-box;
  display: flex;
  align-items: center;
}

.joblist--item.active {
  background: #fff;
  -webkit-box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
  box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}

.joblist--item .footer-icon {
  margin-right: 20px;
}

.joblist--item .bi {
  margin-right: 5px;
}

.post-resume--img {
  width: 80%;
  margin: auto;
}

.post-resume--section {
  padding: 2rem 4rem;
  border-left: 2px solid #f5f5f5;
}

.job-of-day {
  padding-right: 3rem;
}

.card-city {
  text-align: center;
}

.card-city a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.card-city .desc {
  font-size: 16px;
}

.card-city img {
  margin-bottom: 5px;
  border-radius: 10px;
}

footer a {
  color: #bfbfbf;
}

footer .download {
  background-color: #282435;
  border-radius: 20px;
  padding: 2rem 2rem 0;
}

footer .screenshot {
  width: 30%;
}

footer .download-btn img {
  width: 48%;
}
